SPECTRALive/.DS_Store
SPECTRALive/SPECTRALive.xcodeproj/project.xcworkspace/xcuserdata/ajayshah.xcuserdatad/UserInterfaceState.xcuserstate
SPECTRALive/SPECTRALive.xcodeproj/project.xcworkspace/xcuserdata/ajayshah.xcuserdatad/UserInterfaceState.xcuserstate
SPECTRALive/SPECTRALive.xcodeproj/project.xcworkspace/xcuserdata/ajayshah.xcuserdatad/UserInterfaceState.xcuserstate
website/.DS_Store
SPECTRALive/SPECTRALive.xcodeproj/project.xcworkspace/xcuserdata/ajayshah.xcuserdatad/UserInterfaceState.xcuserstate
SPECTRALive/SPECTRALive/SPECTRANetProcessor.swift
